<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -GYM Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GYM Management", "Index", "ClientSiteEmployee", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="bs-content-row-navbar-collapse-4" >
                <ul class="nav navbar-nav navbar-right">

                    <!-- <li class="disabled"><a href="#">Link</a></li> -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Profile <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href=@Url.Action("EmployeInfoUpdate","ClientSiteEmployee")>Update Information</a></li>
                            <li class=""><a href=@Url.Action("LogOut","Login")>Signout</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav bottom-right">
                    <li>@Html.ActionLink("Home", "Index", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("Employee Information", "EmployeInfo", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("Schedule Information", "ScheduleInfo", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("Food Plan", "FoodPlan", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("Attendence Information", "AttendenceInfo", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("About", "About", "ClientSiteEmployee")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "ClientSiteEmployee")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
