@model IEnumerable<GYM_Management_System.Models.Attendence>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h4 class="center-block">Today's Attendance Table </h4>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Client.ClietName)
        </th>*@
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendenceStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttendenceDate)
        </th>

    </tr>

    @foreach (var item in ViewBag.list)
    {
        <tr>
            @*<td>
                @item.ClientId
            </td>*@
            <td>
                @if (item.Client == null)
                {
                    @item.Employee.EmployeeName
                }
                else
                {
                    @item.Client.ClietName
                }
            </td>
            <td>
                @item.FromTime.ToString("HH:mm")
            </td>
            <td>
                @item.AttendenceStatus
            </td>
            <td>
                @item.AttendenceDate.ToString("MM/dd/yyyy")
            </td>

        </tr>
    }

</table>
<meta http-equiv="refresh" content="60" />
@*setTimeout(function(){
       window.location.reload(1);
    }, 5000);*@