@model IEnumerable<GYM_Management_System.Models.Client>

@{
    ViewBag.Title = "ClientInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClientInfo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClietName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientGymStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAdmitionfee)
        </th>
 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClietName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientIdNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientGymStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAdmitionfee)
        </td>

    </tr>
}

</table>
