@model IEnumerable<GYM_Management_System.Models.ClientServiceList>

@{
    ViewBag.Title = "Client Service List";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h4>ClientServiceList</h4>
<input type="text" class="form-control search-query " placeholder="Search Client">
<h4>  </h4>
<h5> Client Service List table </h5>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClietName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientIdNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicess.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicess.ServiceDay)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClietName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicess.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicess.ServiceDay)
            </td>
            <td>
                @Html.ActionLink("Update", "ClientServiceUpdate", new { id = item.ClientServiceListId }) |
            </td>
        </tr>
    }

</table>
