@model GYM_Management_System.Models.ClientBill

@{
    ViewBag.Title = "BillPament";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Bill Pament</h2>

<h3 class="alert-danger">@ViewBag.error1</h3>
<h3 class="alert-danger">@ViewBag.error2</h3>
<h3 class="alert-danger">@ViewBag.Message</h3>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @*<h4>ClientBill</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" id="ClientBillId" name="ClientBillId" value="@Model.ClientBillId" />
    <input type="hidden" id="ClientId" name="ClientId" value="@Model.ClientId" />
    <div class="form-group">
        @Html.LabelFor(model => model.ClientId, "ClientId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.EditorFor(model => model.Client.ClietName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BillMonth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillMonth, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BillMonth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BillAmount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillAmount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BillAmount, "", new { @class = "text-danger" })
            
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.BillStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.BillStatus)
                @Html.ValidationMessageFor(model => model.BillStatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.DueStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DueStatus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DueStatus, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Payment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("payment")
            @Html.ValidationMessageFor(model => model.DueStatus, "", new { @class = "text-danger" })
            <h6 class="alert-danger">@ViewBag.paymentmessage</h6>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ClientBill")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
