@model IEnumerable<GYM_Management_System.Models.ClientBill>

@{
    ViewBag.Title = "ClientBill";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>ClientBill</h2>

<p>
    @Html.ActionLink("Create Bill", "CreateBill")|
    @*@Html.ActionLink("PDF", "Report", "Account", new { ReportType = "PDF" })|
        @Html.ActionLink("Excel", "Report", "Account", new { ReportType = "Excel" })*@
    @*@Html.ActionLink("Print", "Print")*@
</p>

<table class="table" id="datatable"> 
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClietName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueStatus)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClietName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueStatus)
            </td>

            <td>
                @Html.ActionLink("Bill Pament", "BillPament", new { id = item.ClientBillId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.ClientBillId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClientBillId })*@
            </td>
        </tr>
    }

</table>
@*<link href="~/Content/DataTables-1.10.18/css/jquery.dataTables.min.css" rel="stylesheet" />

section Scripts {
<script src="~/Content/DataTables-1.10.18/js/jquery.dataTables.min.js"></script>*@
        @*Scripts.Render("~/bundles/jqueryval")*@
@*<script>
    $(document).ready(function () {

        $("#datatable").DataTable({
            "ajax": {
                "url": "/Account/ClientBill/",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "ClietName" },
                { "data": "BillMonth" },
                { "data": "BillAmount" },
                { "data": "BillStatus" },
                { "data": "DueStatus" },
            ]
        });
    });
</script>*@
