@model IEnumerable<GYM_Management_System.Models.Attendence>

@{
    /**/

    ViewBag.Title = "Attendence View";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h6 class="alert-danger">@ViewBag.message</h6>
<h2>Attendence View</h2>
@*@{
    var fromDate = (DateTime)ViewBag.fromDate;
    var toDate = (DateTime)ViewBag.toDate;
}*@
@using (Html.BeginForm("AttendenceView", "Attendance", FormMethod.Get))
{
    @Html.Label("ID/Name")
    @Html.TextBox("search")
    @Html.Label("  From Date")
        @Html.Editor("FromDate")
        @Html.Label("To Date")
        @Html.TextBox("ToDate")

@*<div>
    From Date: @Html.TextBox("fromDate", string.Format("{0:dd MMM yyy}", fromDate), new { @class = "datefield", type = "date" })
    To Date: @Html.TextBox("toDate", string.Format("{0:dd MMM yyy}", fromDate), new { @class = "datefield", type = "date" })
    <input type="submit" value="Search" />
</div>*@
        <input type="submit" value="submit" />

        }

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Client.ClietName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Employee.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FromTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttendenceStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AttendenceDate)
                </th>

                @*<th></th>*@
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.ClietName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendenceStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AttendenceDate)
                    </td>

                    @*<td>
                            @Html.ActionLink("Edit", "AttendenceEdit", new { id = item.AttendenceId }) |
                        </td>*@
                </tr>
            }

        </table>
