@model GYM_Management_System.Models.FoodPlan

@{
    ViewBag.Title = "FoodPlanAdd";
    Layout = "~/Views/Shared/_Manager_Layout.cshtml";
}

<h2>Foodplan Add</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FoodPlan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClientId, "ClientId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("ClientId", null, "Select One Item", htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })*@
                <span class="alert-danger">@ViewBag.erClient</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, "EmployeeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.DropDownList("EmployeeId", null, "Select One Item", htmlAttributes: new { @class = "form-control" })
                @*@Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })*@
                <span class="alert-danger">@ViewBag.erEmployee</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FoodPlan1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.FoodPlan1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoodPlan1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "FoodPlanList")
</div>
