@model IEnumerable<GYM_Management_System.Models.Schedule>

@{
    ViewBag.Title = "ScheduleInfo";
    Layout = "~/Views/Shared/_EmployeLayoutPage1.cshtml";
}

<h2>ScheduleInfo</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClietName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleTime.ScheduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleTime.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleTime.EndTime)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClietName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleTime.ScheduleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleTime.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleTime.EndTime)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheduleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheduleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheduleId })
        </td>*@
    </tr>
}

</table>
